.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100%;
}

.formContainer {
  text-align: center;
  display: flex;
  width: 500px;
  flex-direction: column;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  padding: 50px;
  border-radius: 20px;
  justify-content: space-between;
}
.inputField {
  margin: 10px 0px;
}

.textPurple {
  color: #4c12a1;
}
